.title {
    font-family: 'Times New Roman', serif;
    font-size: 80px;
    text-align: center;
    color: white;
    font-weight: 200;
    margin:0px;
}

.list {
    margin: 0px;
    font-weight: 900;
    background-color: rgb(46, 60, 90);
    padding:20px;
    margin: 20px 80px;
}

.listitem {
    display: block;
    text-align: center;
}

#riceandbeans {
    font-family: 'Arial';
    a:hover {
        color: black;
    }
}

#tofulemon {
    font-family: 'Tahoma';
    font-size: 30px;
    a {
        text-decoration: none;
        color: transparent;
    }
    a:hover {
        color: yellow;
    }
}

#beansoup {
    font-family: 'Verdana';
    font-size: 26px;
    a:hover {
        color: blueviolet;
    }
}

a {
    color: white;
    text-decoration: none;
}

html {
    background-color: rgb(38, 52, 83);
}